h1 {
	color: white !important;
	text-align: center !important;
}

.form-control {
  width: 60% !important;
}

form {
	display: block;
    margin:25px auto 0;
    padding: 15px 0 0 10px;
    width: 540px;
    border: 1px solid #398439;
	border-radius: 7px;
	-webkit-box-shadow: #888 3px 3px 3px;
	background-color: rgb(234, 237, 234);
}
#ui-datepicker-div{
    background-color: rgb(234, 237, 234);
    width: 185px;
    height: 195px;
    padding-left: 15px;
    border: 1px solid #398439;
    border-radius: 7px;
    -webkit-box-shadow: #888 3px 3px 3px;
    background-color: rgb(234, 237, 234);
}
#ui-datepicker-div td, th {
  padding: 3px;
}

.footer {
    border: solid 1px silver;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}